/outputs/*
/final_outputs/*
/.idea/*
/.vscode/*
/ssm_mot.egg-info/*
*.pyc
/latex-thesis/
/meetings/
/datasets/nuscenes/inputs/
/datasets/nuscenes/labels/
/datasets/nuscenes/labels_global/
/datasets/nuscenes/*.json
/datasets/nuscenes/raw_detections/*/*.json
/wandb/
/graphs_code/
/evaluation_tools/
final_presentation.pdf

